.root{
    -fx-font-size: 14px;
    -fx-font-family: "Garamond";
    -fx-base: rgb(255, 255, 255);
    -fx-background: rgb(135, 206, 250);
    
    
}



ImageView{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
	
}
