.root{
    -fx-font-size: 14px;
    -fx-font-family: "Garamond";
    -fx-base: rgb(255, 255, 255);
    -fx-background: rgb(0, 191, 255);
    
    
}

HBox, VBox {
	-fx-alignment: center;
	
}

ImageView{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
	
}
